# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

## <font color='blue'>Estudo de Caso 2</font>

## <font color='blue'>Data Science na Educação – Análise de Dados Escolares com Pandas</font>

![title](imagens/EstudoCaso2.png)

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

In [ ]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
#!pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
#!pip install -q -U watermark

In [ ]:
# Imports
import pandas as pd

In [ ]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

## Carregando os Dados

In [ ]:
# Carrega o dataset de escolas
dados_escolas = pd.read_csv("dados/dataset_escolas.csv")

In [ ]:
# Shape
dados_escolas.shape

In [ ]:
# Visualiza
dados_escolas.head()

In [ ]:
# Dataset de estudantes
dados_estudantes = pd.read_csv("dados/dataset_estudantes.csv")

In [ ]:
# Shape
dados_estudantes.shape

In [ ]:
# Visualiza
dados_estudantes.head()

In [ ]:
# Combina os datasets
dados_full = pd.merge(dados_estudantes, dados_escolas, how = "left", on = ["Nome_Escola", "Nome_Escola"])

In [ ]:
# Shape
dados_full.shape

In [ ]:
# Visualiza
dados_full.head()

In [ ]:
# Séries escolares no dataset
dados_full["Serie"].unique()

In [ ]:
# Genero
dados_full["Genero"].unique()

## Desafio de Análise de Dados

Responda as perguntas abaixo.

> **1- Temos dados de quantas escolas?**

In [126]:
Total_Escolas = len(dados_full['Nome_Escola'].unique())
Total_Escolas

15

> **2- Qual o total de registros de estudantes na base de dados?**

In [128]:
#dados_full.Nome_Estudante.shape
total_estudantes = dados_full.ID_Estudante.count()
total_estudantes
#dados_full[dados_full.Nome_Estudante.isna()] # Sem valores NA

39160

> **3- Qual o orçamento total considerando todas as escolas?**

In [181]:
teste = dados_full[['Nome_Escola', 'Orcamento_Anual']].groupby('Nome_Escola').agg('max')
Total_Orcamento = teste.sum()
Total_Orcamento[0]

24649428

> **4- Qual a média da nota dos alunos em Redação?**

In [169]:
media_redacao = dados_full.Nota_Redacao.mean()

> **5- Qual a média da nota dos alunos em Matemática?**

In [170]:
media_matematica = dados_full.Nota_Matematica.mean()

> **6- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Redação? (Entregue o resultado em valor absoluto e percentual)**

In [171]:
#dados_full.info()
Aprovados_Redacao = dados_full[dados_full.Nota_Redacao >= 70].count()['Nome_Estudante']
Aprovados_Redacao

33600

In [172]:
def porc(porc):
    porc = (porc*100)/float(total_estudantes)
    #print(round(porc_aprovados_redacao,2), '%')
    return porc
    
Aprovados_Redacao = porc(Aprovados_Redacao)
Aprovados_Redacao

85.80183861082737

> **7- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática? (Entregue o resultado em valor absoluto e percentual)**

In [173]:
Aprovados_Matematica = dados_full[dados_full.Nota_Matematica >= 70].count()['Nome_Estudante']
Aprovados_Matematica

29360

In [174]:
Aprovados_Matematica = porc(Aprovados_Matematica)
Aprovados_Matematica

74.97446373850869

> **8- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática e Redação? (Entregue o resultado em valor absoluto e percentual)**

In [175]:
mask1 = dados_full.Nota_Matematica >= 70
mask2 = dados_full.Nota_Redacao >= 70
Aprovados_Redacao_matematica = dados_full[mask1 & mask2].count()['Nome_Estudante']
Aprovados_Redacao_matematica

25518

In [176]:
Aprovados_Redacao_matematica = porc(Aprovados_Redacao_matematica)

> **9- Crie um dataframe com os resultados das questões de 1 a 8 que você calculou acima. (Dica: crie um dicionário e depois converta em dataframe do Pandas)**

In [206]:
dict = {'Total_Escolas': Total_Escolas,
       'Qnt_Estudantes': total_estudantes,
       'Orcamento_Todas_Escolas': int(Total_Orcamento[0]),
       'Media_Redacao': media_redacao,
       'Media_Matematica': media_matematica,
       'Aprovados_Redacao(%)': Aprovados_Redacao,
       'Aprovados_Matematica(%)': Aprovados_Matematica,
       'Aprovados_Matematoca_Redacao(%)': Aprovados_Redacao_matematica
       }

In [207]:
df = pd.DataFrame([dict])
df.head()

,Total_Escolas,Qnt_Estudantes,Orcamento_Todas_Escolas,Media_Redacao,Media_Matematica,Aprovados_Redacao(%),Aprovados_Matematica(%),Aprovados_Matematoca_Redacao(%)
0,15,39160,24649428,81.875741,78.984934,85.801839,74.974464,65.163432

> **10- Formate as colunas "Total de Estudantes" e "Total Orçamento" ajustando as casas decimais.**

In [208]:
df['Qnt_Estudantes'] = df['Qnt_Estudantes'].map('{:,}'.format)
df['Orcamento_Todas_Escolas'] = df['Orcamento_Todas_Escolas'].map('${:,.2f}'.format)

In [209]:
df

,Total_Escolas,Qnt_Estudantes,Orcamento_Todas_Escolas,Media_Redacao,Media_Matematica,Aprovados_Redacao(%),Aprovados_Matematica(%),Aprovados_Matematoca_Redacao(%)
0,15,"39,160","$24,649,428.00",81.875741,78.984934,85.801839,74.974464,65.163432

# Fim