# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

## <font color='blue'>Estudo de Caso 2</font>

## <font color='blue'>Data Science na Educação – Análise de Dados Escolares com Pandas</font>

![title](imagens/EstudoCaso2.png)

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

In [ ]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
#!pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
#!pip install -q -U watermark

In [2]:
# Imports
import pandas as pd

In [3]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

pandas: 1.3.4
sys   : 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

## Carregando os Dados

In [4]:
# Carrega o dataset de escolas
dados_escolas = pd.read_csv("dados/dataset_escolas.csv")

In [5]:
# Shape
dados_escolas.shape

(15, 5)

In [6]:
# Visualiza
dados_escolas.head()

   ID_Escola Nome_Escola Tipo_Escola  Numero_Alunos  Orcamento_Anual
0          0    Escola A     Publica           2917          1910635
1          1    Escola B     Publica           2949          1884411
2          2    Escola C  Particular           1761          1056600
3          3    Escola D     Publica           4635          3022020
4          4    Escola E  Particular           1468           917500

In [7]:
# Dataset de estudantes
dados_estudantes = pd.read_csv("dados/dataset_estudantes.csv")

In [8]:
# Shape
dados_estudantes.shape

(39160, 7)

In [9]:
# Visualiza
dados_estudantes.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica
0,0,Kevin Bradley,M,6,Escola A,66,79
1,1,Paul Smith,M,9,Escola A,94,61
2,2,John Rodriguez,M,9,Escola A,90,60
3,3,Oliver Scott,M,9,Escola A,67,58
4,4,William Ray,F,6,Escola A,97,84

In [10]:
# Combina os datasets
dados_full = pd.merge(dados_estudantes, dados_escolas, how = "left", on = ["Nome_Escola", "Nome_Escola"])

In [11]:
# Shape
dados_full.shape

(39160, 11)

In [12]:
# Visualiza
dados_full.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
2,2,John Rodriguez,M,9,Escola A,90,60,0,Publica,2917,1910635
3,3,Oliver Scott,M,9,Escola A,67,58,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635

In [14]:
# Séries escolares no dataset
dados_full["Serie"].unique()

array([6, 9, 8, 7], dtype=int64)

In [15]:
# Genero
dados_full["Genero"].unique()

array(['M', 'F'], dtype=object)

## Desafio de Análise de Dados

Responda as perguntas abaixo.

> **1- Temos dados de quantas escolas?**

In [176]:
Total_Escolas = len(dados_full['Nome_Escola'].unique())
Total_Escolas

15

> **2- Qual o total de registros de estudantes na base de dados?**

In [175]:
dados_full.Nome_Estudante.shape
total_estudantes = dados_full.ID_Estudante.count()
total_estudantes

39160

> **3- Qual o orçamento total considerando todas as escolas?**

In [161]:
teste = dados_full[['Nome_Escola', 'Orcamento_Anual']].groupby('Nome_Escola').agg('max')
Total_Orcamento = teste.sum()
Total_Orcamento[0]

24649428

> **4- Qual a média da nota dos alunos em Redação?**

In [162]:
media_redacao = dados_full.Nota_Redacao.mean()
media_redacao

81.87574055158325

> **5- Qual a média da nota dos alunos em Matemática?**

In [163]:
media_matematica = dados_full.Nota_Matematica.mean()
media_matematica

78.98493360572012

> **6- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Redação? (Entregue o resultado em valor absoluto e percentual)**

In [164]:
#dados_full.info()
Aprovados_Redacao = dados_full[dados_full.Nota_Redacao >= 70].count()['Nome_Estudante']
Aprovados_Redacao

33600

In [165]:
'''
def porc(porc):
    #porc = (porc*100)/float(total_estudantes)
    porc = (porc)/float(total_estudantes)
    #print(round(porc_aprovados_redacao,2), '%')
    return porc
    
Aprovados_Redacao2 = porc(Aprovados_Redacao)
Aprovados_Redacao2
'''

# Aplicando função lambda
porc_aprovados = lambda porc: porc/float(total_estudantes)
Aprovados_Redacao2 = porc_aprovados(Aprovados_Redacao)
"{:.2%}".format(Aprovados_Redacao2)

'85.80%'

> **7- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática? (Entregue o resultado em valor absoluto e percentual)**

In [166]:
Aprovados_Matematica = dados_full[dados_full.Nota_Matematica >= 70].count()['Nome_Estudante']
Aprovados_Matematica

29360

In [167]:
Aprovados_Matematica = porc(Aprovados_Matematica)
Aprovados_Matematica

0.7497446373850868

> **8- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática e Redação? (Entregue o resultado em valor absoluto e percentual)**

In [168]:
mask1 = dados_full.Nota_Matematica >= 70
mask2 = dados_full.Nota_Redacao >= 70
Aprovados_Redacao_matematica = dados_full[mask1 & mask2].count()['Nome_Estudante']
Aprovados_Redacao_matematica

25518

In [169]:
Aprovados_Redacao_matematica = porc(Aprovados_Redacao_matematica)

> **9- Crie um dataframe com os resultados das questões de 1 a 8 que você calculou acima. (Dica: crie um dicionário e depois converta em dataframe do Pandas)**

In [207]:
dict = {'Total_Escolas': Total_Escolas,
       'Qnt_Estudantes': total_estudantes,
       'Orcamento_Todas_Escolas': int(Total_Orcamento[0]),
       'Media_Redacao': media_redacao,
       'Media_Matematica': media_matematica,
       'Aprovados_Redacao(%)': Aprovados_Redacao2,
       'Aprovados_Matematica(%)': Aprovados_Matematica,
       'Aprovados_Matematica_Redacao(%)': Aprovados_Redacao_matematica
       }

In [208]:
df = pd.DataFrame([dict])
df.head()

,Total_Escolas,Qnt_Estudantes,Orcamento_Todas_Escolas,Media_Redacao,Media_Matematica,Aprovados_Redacao(%),Aprovados_Matematica(%),Aprovados_Matematica_Redacao(%)
0,15,39160,24649428,81.875741,78.984934,0.858018,0.749745,0.651634

> **10- Formate as colunas "Total de Estudantes" e "Total Orçamento" ajustando as casas decimais.**

In [209]:
df['Qnt_Estudantes'] = df['Qnt_Estudantes'].map('{:,}'.format)
df['Orcamento_Todas_Escolas'] = df['Orcamento_Todas_Escolas'].map('${:,.2f}'.format)

df.dtypes
df['Aprovados_Redacao(%)'] = "{:.2%}".format(Aprovados_Redacao2)
df['Aprovados_Matematica(%)'] = "{:.2%}".format(Aprovados_Matematica)
df['Aprovados_Matematica_Redacao(%)'] = "{:.2%}".format(Aprovados_Redacao_matematica)

In [210]:
df

,Total_Escolas,Qnt_Estudantes,Orcamento_Todas_Escolas,Media_Redacao,Media_Matematica,Aprovados_Redacao(%),Aprovados_Matematica(%),Aprovados_Matematica_Redacao(%)
0,15,"39,160","$24,649,428.00",81.875741,78.984934,85.80%,74.97%,65.16%

# Fim